.navbar {
    display: flex;
    margin: 0px;
    padding: 50px;
    background-color: #aeb9f2;
    flex-direction: row;
    justify-content: space-between;
}

.home {
    display: flex;
    flex-direction: row;
    background-color: black;
    
}

.aboutBox {
    padding: 40px;
    color: white;
}

.contentBox {

}

p {
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}

a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: larger;
    color: #0540F2;
}

a:link {
    text-decoration: none;
}
a:hover {
    color: #F080F2;

}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight:normal;
    color: #0540F2;
}

h1.nav {
    font-weight:bolder;
}

/* Color Theme
color: #F080F2;
color: #94A2F2; 
color: #AEB9F2; 
color: #0540F2; 
color: #F28444; 
*/

